html
   head
      title = "Home page"
     link (rel='stylesheet', href='C:\Users\BootCamp\Desktop\express-checkpoint\myapp\public\stylesheets\style.css' ) 
   body
    #container.col
      nav 
       #home
      a =(href="localhost:5501/home") URL
       h1=Welcome to home page 
       #services
      a=(href="localhost:5501/services") URL
       h1=Welcome to Our Services page
       #contact
      a=(href="localhost:5501/contact")    URL
       h1=Welcome to contact us page
